.raven__service-title {
    text-align: center;
    font-size: var(--fs-heading);
    margin-bottom: .6em;
}

.raven__service-cards {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
    .raven__service-title {
        margin-bottom: 1.5em;
    }
}
