* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    font-size: 10px;
    color: var(--secondary-color);
}

body {
    background-color: var(--body-background);
    font-size: var(--fs-paragraph);
    font-family: var(--font-family);
}

h3 {
    font-size: var(--fs-heading);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

li {
    list-style-type: none;
}

button {
    width: 142px;
    height: 45px;
    background-color: var(--btn-background);
    outline: none;
    border: 0;
    color: var(--text-color);
    padding: 8px;
    border-radius: 30px;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: normal;
}

.section__padding {
    padding: 2rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title__margin {
    margin-bottom: .6em;
}

@media screen and (min-width: 900px) {
    .section__padding {
        padding: 6rem 2rem;
    }

    .title__margin {
        margin-bottom: 1.5em;
    }
}
