.raven__banner {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.8em;
    padding: 1em;
}

.raven__banner-content_title {
    font-size: 2.5rem;
    line-height: 1.28;
}

.raven__banner-content_title,
.raven__banner-content p {
    margin-bottom: 1em;
}

.raven__banner-content p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
}

.raven__banner-image img {
    width: 100%;
    border-top-left-radius: 90px;
} 

@media screen and (min-width: 900px) {
    .raven__banner {
        flex-direction: row;
        column-gap: 4em;
        margin-left: 6em;
    }

    .raven__banner-content {
        flex: 1;
    }

    .raven__banner-image {
        flex: 1;
    }

    .raven__banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .raven__banner-content_title {
        font-size: var(--fs-heading);
    }

    .raven__banner-content p {
        font-size: 2rem;
        line-height: 1.4;
    }
}

@media screen and (min-width: 1250px) {
    .raven__banner {
        padding: 0;
    }

}
  
